<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    
    <div class="center">

        <!-- Header -->
        <header-save title="Usuários" icon="people" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" [loading]="loading" (save)="save()" [update]="update"></header-save>

        <!-- Conteudo -->
        <div class="content-card">

            <div class="content">

                <form name="userForm" class="product w-100-p" [formGroup]="form" novalidate fxLayout="column" fxFlex (ngSubmit)="save()">

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <div style="margin-bottom: 15px;display: flex;justify-content: center;">
                            <loading-pulse-avatar *ngIf="searching"></loading-pulse-avatar>
                            <upload-file type='profile' (file)="getImage($event)" [previewImage]="userImage" *ngIf="!searching"></upload-file>
                        </div>                        

                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                            <!-- Nome -->
                            <loading-pulse-input fxFlex="40%" *ngIf="searching"></loading-pulse-input>
                            <mat-form-field appearance="outline" fxFlex="40%" *ngIf="!searching">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="name">
                                <mat-error *ngIf="form.get('name').hasError('required')">
                                    Nome é obrigatório.
                                </mat-error>
                                <mat-error *ngIf="form.get('name').hasError('maxlength')">
                                    No máximo 50 caracteres são permitidos para esse campo!
                                </mat-error>
                            </mat-form-field>

                            <!-- Email -->
                            <loading-pulse-input fxFlex="40%" *ngIf="searching"></loading-pulse-input>
                            <mat-form-field appearance="outline" fxFlex="40%" *ngIf="!searching">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error *ngIf="form.get('email').hasError('required')">
                                    Email é obrigatório.
                                </mat-error>
                                <mat-error *ngIf="form.get('email').hasError('maxlength')">
                                    No máximo 80 caracteres são permitidos para esse campo!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" *ngIf="!update">

                            <!-- Senha -->
                            <mat-form-field appearance="outline" fxFlex="20%">
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="password" type="password">
                                <mat-error *ngIf="form.get('password').hasError('required')">
                                    Senha é obrigatório.
                                </mat-error>
                                <mat-error *ngIf="form.get('password').hasError('maxlength')">
                                    No máximo 50 caracteres são permitidos para esse campo!
                                </mat-error>
                            </mat-form-field>
    
                            <!-- Repetir a senha -->
                            <mat-form-field appearance="outline" fxFlex="20%">
                                <mat-label>Repita a senha</mat-label>
                                <input matInput type="password" formControlName="repeatPassword">
                                <mat-error *ngIf="form.get('repeatPassword').hasError('required')">
                                    Repetir a senha é obrigatório.
                                </mat-error>
                                <mat-error *ngIf="form.get('repeatPassword').hasError('maxlength')">
                                    No máximo 50 caracteres são permitidos para esse campo!
                                </mat-error>
                                <mat-error *ngIf="form.get('repeatPassword').hasError('confirmPassword')">
                                    Os campos de senha não são iguais!
                                </mat-error>
                                
                            </mat-form-field>
                        </div>

                        <button-loading [text]="texto" [loading]="loading" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></button-loading>

                    </div>
                    
                </form>

            </div>

        </div>

    </div>

</div>