<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bem vindo ao Comunica Legal!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            O jeito mais fácil de se comunicar com o cliente!
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">Acesse o sistema</div>

            <form name="loginForm" [formGroup]="form" novalidate (ngSubmit)="login()">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <mat-error *ngIf="form.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error
                        *ngIf="!form.get('email').hasError('required') &&
                        form.get('email').hasError('email')">
                        Por favor, digite um email válido!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="form.get('password').hasError('required')">
                        Senha é obrigatório!
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Lembre-se
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="['/pages/auth/forgot-password-2']">
                        Esqueceu a senha?
                    </a>
                </div>

                <button-loading [text]="texto" [loading]="loading"></button-loading>

                <div class="message-box error" *ngIf="msgError">
                    {{ msgError }}
                </div>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Não tem um conta ainda?</span>
                <a class="link" [routerLink]="'/pages/auth/register-2'">Crie uma agora</a>
            </div>
        </div>
    </div>
</div>
