<form name="passwordForm" novalidate [formGroup]="form" fxLayout="column" fxFlex (ngSubmit)="changePassword()">
    <h2 mat-dialog-title>Alterar a senha</h2>
    <mat-dialog-content>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <!-- Senha -->
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="form.get('password').hasError('required')">
                    Senha é obrigatório.
                </mat-error>
                <mat-error *ngIf="form.get('password').hasError('maxlength')">
                    No máximo 50 caracteres são permitidos para esse campo!
                </mat-error>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <!-- Repetir a senha -->
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Digite a senha novamente</mat-label>
                <input matInput type="password" formControlName="repeatPassword">
                <mat-error *ngIf="form.get('repeatPassword').hasError('required')">
                    Repetir a senha é obrigatório.
                </mat-error>
                <mat-error *ngIf="form.get('repeatPassword').hasError('maxlength')">
                    No máximo 50 caracteres são permitidos para esse campo!
                </mat-error>
                <mat-error *ngIf="form.get('repeatPassword').hasError('confirmPassword')">
                    Os campos de senha não são iguais!
                </mat-error>
            </mat-form-field>

        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <mat-progress-spinner color="accent" mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        <button mat-button mat-dialog-close [disabled]="loading">Cancelar</button>
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">Salvar</button>
    </mat-dialog-actions>
</form>