<div id="container">
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
    <div class="line-table">
        <div *ngFor="let item of arrItens" class="line-pulse size-{{ item }}" fxHide fxShow.gt-sm></div>
        <div class="line-pulse size-100" fxShow.gt-xs fxHide.gt-sm fxHide.gt-md></div>
    </div>
</div>