<div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            
    <!-- Titulo -->
    <div fxLayout="row" fxLayoutAlign="start center" class="titulo">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="[update ? '../../' : '../']">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <mat-icon class="logo-icon s-32 mr-16">
            {{ icon }}
        </mat-icon>

        <div fxLayout="column" fxLayoutAlign="start start">

            <div class="h2">
                {{ title }}
            </div>
            <div class="subtitle secondary-text">
                {{ subtitle }}
            </div>
        </div>

    </div>

    <!-- Botão -->
    <button mat-raised-button fxHide fxShow.gt-sm fxShow.gt-md
            class="add-product-button fuse-white mt-24 mt-md-0" (click)="triggerSave()" [disabled]="loading">
            <mat-icon *ngIf="!loading">check</mat-icon>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        <span>{{ btnname }}</span>
    </button>

</div>