<div class="header accent headerindex"
                fxLayout="column" fxLayoutAlign="center center"
                fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

    <!-- Titulo -->
    <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">
            {{ icon }}
        </mat-icon>
        <span class="logo-text h1">
            {{ title }}
        </span>
    </div>

    <!-- Botão -->
    <button mat-raised-button fxShow.gt-xs fxHide.gt-sm fxHide.gt-md (click)="enableFilter()">
        <mat-icon>search</mat-icon> Filtrar
    </button>

    <!-- Botão de opções -->
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['save']">{{ btnname }}</button>
        <button mat-menu-item (click)="enableFilter()">Filtrar</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="appMenu" fxHide fxShow.gt-sm fxShow.gt-md>
        <mat-icon>more_vert</mat-icon> 
        Opções
    </button>

</div>