<ng-container *ngIf="type == 'profile'">
    <img [src]="img" class="avatar contact-avatar huge m-0" alt="Avatar "/>
    <button 
        mat-fab 
        [ngClass]="{ 'warn': img != 'assets/images/avatars/profile.jpg' , 'accent': img == 'assets/images/avatars/profile.jpg' }" 
        style="width: 40px;height: 40px;position: relative;top: 60px;right: 35px;" 
        (click)="img == 'assets/images/avatars/profile.jpg' ? inputfile.click() : removeFile()" 
        type="button">
        <mat-icon class="s-16">
            {{ img != 'assets/images/avatars/profile.jpg' ? 'close' : 'camera_alt' }}
        </mat-icon>
    </button> 
</ng-container>
<input type="file" #inputfile style="display:none;" (change)="getFile($event.target.files[0])">